VisualStudio/Release
VisualStudio/Debug
bin/SparCraft
bin/result/*.txt
bin/*.pdb
bin/*.map
bin/*.dll
bin/*.exe
source/*.o
VisualStudio/*.opensdf
VisualStudio/SparCraft.v12.suo
VisualStudio/SparCraft.sdf
