VisualStudio/Release
VisualStudio/Debug
bin/SparCraft
bin/result/*.txt
bin/KiterEMP/*
bin/hieu_exp.txt
bin/*.pdb
bin/*.map
bin/*.dll
bin/*.exe
source/*.o
VisualStudio/*.opensdf
VisualStudio/SparCraft.v12.suo
VisualStudio/SparCraft.sdf
bin/CC_result/*
bin/hieu_benchmark.txt
bin/kiterMvmt/

VisualStudio/*.user
lib_src/*
BWTAlib_2.1/*
bin/watcher_result/*
bin/watcher_exp.txt
*.ps1